ul#menu {
    background: #333;
    color: #eee;
}

.dropdown {
    input {
        display: none
    }

    input:checked~ul.submenu {
        max-height: 300px;
        transition: max-height 0.5s ease-in;
    }
}

ul.submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #444;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 100px;
    z-index: 2;
}

ul.submenu li a {
    display: block;
    padding: 12px;
    color: #ddd;
    text-decoration: none;
    box-shadow: 0 -1px rgba(0, 0, 0, .5) inset;
    transition: background .3s;
}

ul.submenu li a:hover {
    background: rgba(0, 0, 0, .3);
}