.button {
    min-width: 40px;
    min-height: 40px;
    background: #0084CA;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        transform: scale(1.05);
    }

    &_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.basket-btn {
    background-color: #0084CA;
    border: none;
    width: 40%;
    height: 50px;
    border-radius: 4px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 15px;
}

.button-nobb {
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}