.list {
    padding: 16px 53px 16px 60px;
    margin-top: 8px;
    height: 124px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    &__details {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
    }

    &__field {
        display: flex;
        width: 50%;
        border: none;

        &::placeholder {
            color: #000;
            font-size: 18px;
            line-height: 24px;
        }

        &_prise {
            text-align: right;

            &::placeholder {
                font-style: normal;
                font-weight: 700;
            }
        }
    }
}