.promo {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('../assets/images/bg.jpg') no-repeat 100%/cover;
    background-blend-mode: multiply;
    background-color: rgba($color: #1D252E, $alpha: .3);

    &::after {
        content: "Лучшие товары для Вас и вашего дома!";
        position: absolute;
        top: 200px;
        left: 50px;
        width: 550px;
        font-size: 60px;
        font-weight: 600;
        color: #fff;
    }
    &::before {
        content: "по низким ценам!";
        position: absolute;
        top: 410px;
        left: 50px;
        width: 350px;
        font-size: 35px;
        font-weight: 300;
        color: #fff;
    }
}