#toggle {
    display: none;
}

.hamburger-button {
    display: flex;
}

.hamburger {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    div {
        position: relative;
        width: 40px;
        height: 3px;
        background-color: #ffffff;
        transition: 0.3s;
    }
}

#toggle:checked+.hamburger-button {
    .hamburger {

        .top-bun,
        .mid-bun,
        .bottom-bun {
            transform: rotate(180deg);
        }
    }
}

#toggle:checked+.hamburger-button .hamburger+.nav-hamburger {
    top: 0;
    transform: scale(1);
}