.service-info {
    padding: 80px 150px 0 150px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 400;
        font-size: 44px;
        line-height: 52px;
    }

    &__search {
        display: flex;
    }
}

.service-info-descr {
    display: flex;
    margin-top: 80px;

    &__clear {
        width: 20%;
    }

    &__text {
        width: 80%;
        height: 66px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}