.header {
    height: 60px;
    padding: 0 50px 0 50px;
    background-color: #1D252E;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__contacts {
        display: flex;
    }

    &__phone {
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        text-decoration: none !important;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;

    }

    &__phone::after {
        content: " ";
        background: #FFFFFF;
        width: 1px;
        height: 15px;
        margin-left: 10px;
    }
}

.sub-header {
    height: 80px;
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    background-color: rgba($color: #fff, $alpha: .1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    &__logo {
        width: 30%;
    }

    &__search {
        width: 70%;
    }
}