.service-wrapper {
    padding: 66px 150px 5px 150px;
    display: flex;

    &__list {
        width: 20%;
    }

    &__content {
        width: 80%;
    }
}

.navLink {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@import './serviceInfo/serviceInfo';
@import './serviceList/serviceList';