.list-menu {
    font-size: 16px;
    line-height: 26px;
    color: #0084CA;
}

.list-item {
    font-size: 16px;
    line-height: 26px;
    color: #1D252E;
}

.service-list {
    ul {
        cursor: pointer;

        :hover {
            font-weight: bold;
        }
    }

    li {
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        cursor: pointer;
        list-style-type: none;
        margin: 12px 0;

        :hover {
            background-size: 60% 2px;
        }
    }
}

.hide::before {
    content: '\005E ';
}

.show::before {
    content: '\02C5 ';
}