.search {
    input {
        background: url("../assets/icons/linsa.png") 30px no-repeat;
        text-align: center;
        width: 100%;
        height: 40px;
        border-radius: 40px;
        border: 1.2px solid #CD9933;
        outline: none;
        transition: .3s linear;

        &::placeholder {
            color: #000000;
            font-size: 15px;
            letter-spacing: 3px;
        }
    }

    &:hover {
        border-radius: 40px;
        background-color: #CD9933;
    }
}