body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  button {
    cursor: pointer;
  }
  
@import '../components/header/Header';
@import '../components/social/Social';
@import '../components/dropDawn/dropLang';
@import '../components/hamburger/Hamburger';
@import '../components/search/search';
@import '../components/list/list';
@import '../components/basket/basket';
@import '../components/divider/divider';
@import '../components/button/button';
@import '../views/servicePage/servicePageContainer';

