* {
  box-sizing: border-box;
}

body {
  background-color: #FBFBFC;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

@import '../components/header/Header';
@import '../components/social/Social';
@import '../components/dropDawn/dropLang';
@import '../components/hamburger/Hamburger';
@import '../components/search/search';
@import '../components/list/list';
@import '../components/basket/basket';
@import '../components/divider/divider';
@import '../components/button/button';
@import '../views/serviceView/servicePageContainer';